<div class="row">
    <h1>Experiencia Laboral </h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul>
                <li>
                    <h1>Trabajo 1</h1><h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi placeat non commodi! Laboriosam ipsum, magni adipisci libero consequuntur alias in cum totam minus, assumenda consequatur molestiae veritatis harum quis optio.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1><h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi placeat non commodi! Laboriosam ipsum, magni adipisci libero consequuntur alias in cum totam minus, assumenda consequatur molestiae veritatis harum quis optio.</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 3</h1><h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi placeat non commodi! Laboriosam ipsum, magni adipisci libero consequuntur alias in cum totam minus, assumenda consequatur molestiae veritatis harum quis optio.</p>
            </ul>
        </div>

</div> 
