<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/ImagenPerfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Martínez Darío</p>
        <P>Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore quo consequuntur at adipisci iste, voluptas nostrum fugit magni ea nulla similique alias quae quia cum. Commodi ratione molestias temporibus!</p>
        </span>
    </div>
</div>


